body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    font-family: 'Comic Sans MS';
    color: rgb(255, 255, 0) !important; 
    /* to override other things use !important */
}
.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px black
}
